vendor/

.env
.env.testing

bootstrap/cache/*.php
!bootstrap/cache/.gitkeep
storage/logs/*.log
storage/framework/cache/data/
storage/framework/sessions/
storage/framework/views/
storage/app/public/

.phpunit.result.cache
phpunit.xml.bak
phpstan-baseline.neon

public/hot
public/storage
public/build/
